<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="login.app.LoginApp"
        android:allowBackup="true"
        android:label="module_login"
        android:supportsRtl="true"
        android:theme="@style/config_Theme.WanAndroid_Multi">
        <activity
            android:name=".page.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>