<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
            android:name="test.app.TestApp"
            android:allowBackup="true"
            android:label="module_login"
            android:supportsRtl="true"
            android:theme="@style/config_Theme.WanAndroid_Multi">
        <activity
            android:name="test.ui.DebugActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ndhzs.module.test.page.TestActivity"/>
    </application>

</manifest>